<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Sports Scheduler</title>
  <link rel="icon" href="/sports-icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/home.css" /> 
</head>

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="container">
      <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Container -->
  <div class="container">
    <!-- Main Section: Introduction -->
    <div class="main-section">
      <h1 class="gradient-text">Welcome to the Sports Scheduler</h1>
      <p class="gradient-text">
        Transform your sports experience with our state-of-the-art platform! Effortlessly manage teams, schedules, and player statistics—all in one convenient location.
      </p>

      <!-- Features List Section -->
      <ul class="features-list">
        <li>
          <h2 class="gradient-text">Squad Organization</h2>
          <p class="gradient-text">Create and manage teams, assign players, and monitor statistics across a variety of sports activities.</p>
        </li>
        <li>
          <h2 class="gradient-text">Event Coordination</h2>
          <p class="gradient-text">View and manage upcoming sports events, matches, and sessions, with the ability to filter by sport, date, and venue.</p>
        </li>
        <li>
          <h2 class="gradient-text">Athlete Enrollment</h2>
          <p class="gradient-text">Players can easily register, update their profiles, and manage their participation in sports events.</p>
        </li>
        <li>
          <h2 class="gradient-text">Performance Insights</h2>
          <p class="gradient-text">Generate comprehensive reports on team performance, player statistics, and participation. Gain insights and analyze trends for smarter, data-driven decisions.</p>
        </li>
        <li>
          <h2 class="gradient-text">Real-Time Updates</h2>
          <p class="gradient-text">Stay informed with real-time notifications on schedule updates, upcoming events, and essential announcements.</p>
        </li>
        <li>
          <h2 class="gradient-text">Control Hub</h2>
          <p class="gradient-text">Administrators can utilize a comprehensive dashboard to oversee users, manage teams, coordinate sessions, and configure system settings.</p>
        </li>
      </ul>
    </div>
  </div>
</body>
<!-- Footer Section -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2025 Sports Scheduler. All Rights Reserved.</p>
  </div>
</footer>
</html>